.footer-main
    display flex
    flex-direction row
    padding 25px 5%

    .col
        display flex
        flex-direction column

        &.large
            width 70%
            align-items flex-start

        &.center
            width 30%
            justify-content center
            align-items center

        h3
            text-transform uppercase
            color #4B4B4B
            font-weight lighter 
            font-size 2em

        p
            margin 15px 0


        img
            max-width 80%
        
        .button-contacto-footer
            background-color #202020
            border-radius 5px
            color #FFF
            text-decoration none
            padding 12px