#view-contact {
    padding-top: 25px;
}

#view-contact h2 {
    color: #FFF;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
}

#view-contact .body-contact {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#view-contact .body-contact .form {
    width: 480px;
}


#view-contact .body-contact .form .row {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#view-contact .body-contact .form .row span {
    color: #FFF;
    margin-bottom: 5px;
}

#view-contact .body-contact .letter {
    background-color: #FFF;
    border-radius: 5px;
    color: #6d6d6d;
    padding: 20px;
    min-height: 400px;
    transition: all 0.2s ease;
    width: 500px;
}

#view-contact .body-contact .letter:hover {
    box-shadow: rgba(50, 50, 50, 0.3) 0px 10px 20px;
    scale: (1.1);
}

#view-contact .body-contact .letter .row {
    margin: 10px 0;
}

#view-contact .body-contact .letter hr {
    margin: 20px 0;
    border-color: #CCC;
}

#view-contact .body-contact .letter p {
    margin: 20px 0;
    word-wrap: break-word;
    min-height: 200px;
}

#view-contact .body-contact .letter .content-logo {
    text-align: right;
}

#view-contact .body-contact .letter .content-logo img {
    width: 20%
}


#view-contact img.banner-image {
    height: 400px;
    margin-top: 40px;
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
}