#view-about {
    background-color: #302f2f;
    color: #fff;
    padding: 10px 0;
}
#view-about h1 {
    margin: 25px 0;
    text-align: center;
}
#view-about .sub-content {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
}
#view-about .sub-content .col {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#view-about .sub-content .col p {
    margin: 10px 0;
}
#view-about .sub-content .col img {
    margin: auto;
    max-width: 90%;
}
  