.content-main {
    background-color: #302f2f;
}
.content-main p.descripcion {
    color: #95989a;
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
    width: 75%;
    margin: 75px auto;
}
.content-main .marketing {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    overflow: visible;
}
.content-main .marketing .item {
    background-color: rgba(240,240,240,0.25);
    box-shadow: 0 15px 25px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 35%;
}
.content-main .marketing .item img {
    max-width: 60%;
}
.content-main .marketing .item .title-item {
    color: #a8f296;
    margin: 10px 0;
    text-align: center;
    font-size: 1em;
}
.content-main .marketing .item p {
    color: #fff;
    text-align: center;
    width: 80%;
}
.gestion-hosting {
    background-image: url("../../img/baner-site.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gestion-hosting .search-simulation {
    background-color: rgba(83,83,83,0.65);
    background-image: url("../../img/star.png");
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 30px;
    color: #e4ebef;
    padding: 10px;
    padding-left: 25px;
    border-radius: 30px;
    font-size: 2em;
    width: 80%;
}
.gestion-hosting p {
    color: #c4d1d9;
    margin: 15px auto;
}
.gestion-hosting .btn-getStart {
    background-color: #abff00;
    border-radius: 5px;
    color: #2d2d2d;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
}
  