/* View All services */
#view-services {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#view-services h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
}

#view-services input {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    border: none;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;
    width: 90%;
}

#view-services input::placeholder {
    color: #FFF;
}

#view-services .content-products {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

#view-services .content-products .item-product {
    text-align: center;
    flex-direction: column;
    display: flex;
    margin: 20px 0;
    width: 30%;
}

#view-services .content-products .item-product figure img {
    max-width: 50%;
}

#view-services .content-products .item-product figure figcaption {
    margin: 20px 0;
}

#view-services .content-products .item-product p {
    color: #95989A;
    max-width: 70%;
    margin: auto;
}

#view-services .content-products .item-product button,
a {
    /* max-width: 50%; */
    margin: 10px auto;
}

/* View select service */
#view-service-id {
    display: flex;
    padding: 5em;
}

#view-service-id .content-img {
    max-width: 50%;
    padding: 25px;
}

#view-service-id .content-img img {
    margin: auto;
    max-width: 80%;
}

#view-service-id form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#view-service-id form figure img {
    max-width: 250px;
}

#view-service-id form figcaption h2 {
    font-weight: normal;
}

#view-service-id form p {
    font-weight: normal;
    margin: 25px 0;
    color: #FFF;
}

#view-service-id form .row {
    margin: 10px auto;
    width: 100%;
}

#view-service-id form .row.button {
    display: flex;
    justify-content: flex-end;
}

#view-service-id form .row input {
    width: 100%;
}